@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #8cc461;
  color: white;
  display: flex;
  justify-content: center;
}
/* div {
  border: solid black 1px;
} */
.container {
  height: 100vh;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-top {
  margin-bottom: 50px;
  width: 100%;
  border: solid white 2px;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
}
.game-title > p {
  margin: 20px 20px;
  font-weight: 400;
  font-size: 2.3rem;
}
.score {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.score > div {
  margin: 20px;
  height: 128px;
  width: 139px;
  border-radius: 9px;
  background-color: white;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score > div > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #252525;
  font-size: 3rem;
}
.score > div > p {
  margin-bottom: 0;
  color: #656565;
  font-size: 1.2rem;
  font-weight: 500;
}
.game-div-btns {
  height: 300px;
  width: 400px;
  position: relative;
  text-align: center;
}
.rock-btn {
  background-color: white;
  border: solid #0074b6 13px;
  position: absolute;
  border-radius: 50%;
}
.rock-position {
  height: 80px;
  width: 80px;
  top: 10%;
  left: 13%;
}
.rock-btn-img {
  scale: 80%;
  transform: translate(-1%, 16%);
}
.paper-btn-img {
  scale: 90%;
  transform: translate(0%, 3%);
}
.scissor-btn-img {
  scale: 95%;
  transform: translate(4%, 17%);
}
.paper-btn {
  height: 80px;
  width: 80px;
  background-color: white;
  border: solid #ffa943 13px;
  position: absolute;

  border-radius: 50%;
}
.paper-position {
  height: 80px;
  width: 80px;
  bottom: 9%;
  left: 37%;
}
.scissor-btn {
  height: 80px;
  width: 80px;
  background-color: white;
  border: solid #bd00ff 13px;
  position: absolute;
  top: 10%;
  right: 13%;
  border-radius: 50%;
}
.scissor-position {
  height: 80px;
  width: 80px;
  top: 10%;
  right: 13%;
}
.game-line-1 {
  height: 10px;
  width: 200px;
  background-color: #252525;
  position: absolute;
  top: 25%;
  left: 27%;
  z-index: -1;
}
.game-line-2 {
  height: 10px;
  width: 200px;
  background-color: #252525;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: rotate(60deg);
  z-index: -1;
}
.game-line-3 {
  height: 10px;
  width: 200px;
  background-color: #252525;
  position: absolute;
  top: 50%;
  right: 9%;
  transform: rotate(-60deg);
  z-index: -1;
}
.rules-btn {
  height: 35px;
  width: 90px;
  position: absolute;
  border: solid white 2px;
  border-radius: 7px;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rules-box {
  /* display: none; */
  z-index: 1;
  height: 250px;
  width: 200px;
  position: absolute;
  background-color: #004429;
  border: solid white 6px;
  border-radius: 13px;
  bottom: 13%;
  right: 6%;
}
.rules-box > h2 {
  margin: 10px 0;
  text-align: center;
}
.rules-box > ul {
  padding-left: 24px;
  padding-right: 3px;
  font-size: 0.73rem;
  list-style: square;
}
.rules-box > ul > li::marker {
  color: #ffd600;
}
.close-rules {
  float: right;
  height: 40px;
  width: 40px;
  z-index: 2;
  border: solid white 4px;
  border-radius: 50%;
  background-color: #ff0000;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-result {
  display: none;
  height: 300px;
  width: 600px;
  position: relative;
  text-align: center;
}
.test-result {
  height: 135px;
  width: 150px;
  position: absolute;
  top: 28%;
  left: 37%;
  text-align: center;
}
.test-result > h1 {
  margin-bottom: 0;
}
.test-result > h2 {
  margin-top: 5px;
}
.mybtn {
  height: 35px;
  width: 120px;
  color: #6b6b6b;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  bottom: 25%;
  left: 40%;
  border-radius: 5px;
  border: none;
}
.user-choice-result {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 5%;
}
.pc-choice-result {
  height: 100px;
  width: 100px;
  top: 30%;
  right: 5%;
}
.rock-img-result {
  scale: 100%;
  transform: translate(-1%, 27%);
}
.scissor-img-result {
  scale: 110%;
  transform: translate(3%, 30%);
}
.paper-img-result {
  scale: 110%;
  transform: translate(0%, 14%);
}
.you-picked {
  position: absolute;
  top: 9%;
  left: 8.25%;
  font-size: 0.9rem;
}
.pc-picked {
  position: absolute;
  top: 9%;
  right: 10.25%;
  font-size: 0.9rem;
}
.user-winner {
  height: 93px;
  width: 93px;
  border-radius: 50%;
  position: absolute;
  background-color: #2e9a25;
  border: solid #35bd29 20px;
  z-index: -1;
  top: 29%;
  left: 4.3%;
  transform: scale(0.9);
}
.pc-winner {
  height: 93px;
  width: 93px;
  border-radius: 50%;
  position: absolute;
  background-color: #2e9a25;
  border: solid #35bd29 20px;
  z-index: -1;
  top: 29%;
  right: 4.5%;
  transform: scale(0.9);
}
.winner-animation {
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.75);
    opacity: 1;
  }
  100% {
    transform: scale(2.25);
    opacity: 0;
  }
}
.victory {
  display: none;
}
.win-next {
  display: none;
  height: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.win-img {
  height: 300px;
  width: 600px;
  position: relative;
}
.trophy {
  position: absolute;
  top: 25%;
  left: 31%;
}
.stars {
  position: absolute;
  top: -2%;
  left: 8%;
}
.win-text {
  height: 140px;
  width: 100%;
}
.win-text > h1 {
  margin: 0;
  text-align: center;
  font-size: 4.5rem;
}
.win-text > h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
.win-play-again {
  height: 40px;
  width: 100%;
  position: relative;
}
.win-play-again > button {
  position: absolute;
  top: 5%;
}
.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 90px;
  position: absolute;
  border: solid white 2px;
  border-radius: 7px;
  bottom: 5%;
  right: 13%;
}
